if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[InsertOpmExcursionResponse]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[InsertOpmExcursionResponse]
GO

CREATE Procedure [dbo].[InsertOpmExcursionResponse]
    (
    @Id bigint Output,
    @OpmExcursionId bigint,    
    @OltExcursionId bigint,    
    @ToeVersion bigint,    
    @HistorianTag nvarchar(255),
    @LastModifiedByUserId bigint,
    @Response nvarchar(4000),
    @LastModifiedDateTime datetime
	--@Asset varchar(100),
	--@Code varchar(100)
    )
AS

INSERT INTO OpmExcursionResponse
(
	OpmExcursionId,
	OltExcursionId,
	ToeVersion,
	HistorianTag,
	LastModifiedByUserId,
	Response,
	LastModifiedDateTime
	--Asset,
 --Code
)
VALUES
(	
	@OpmExcursionId,
	@OltExcursionId,
    @ToeVersion,
    @HistorianTag,
    @LastModifiedByUserId,
    @Response,
	@LastModifiedDateTime
	-- @Asset,
 --@Code
)
SET @Id= SCOPE_IDENTITY() 

GRANT EXEC ON [InsertOpmExcursionResponse] TO PUBLIC
GO
