
IF EXISTS (SELECT * FROM sysobjects WHERE type = 'P' AND name = 'InsertWorkPermitMudsTemplate')
	BEGIN
		DROP Procedure [dbo].InsertWorkPermitMudsTemplate
	END
GO

CREATE Procedure [dbo].[InsertWorkPermitMudsTemplate]      
(      
    @Id bigint Output,      
    @Name varchar(100),      
 @TemplateNumber int Output,      
 @TypeId int,      
 @Active bit,      
 @Deleted bit,      
   
@RemplirLeFormulaireDeCondition tinyint ,  
@RemplirLeFormulaireDeConditionValue varchar(100) ,  
@AnalyseCritiqueDeLaTache tinyint ,  
@Depressurises tinyint ,  
@Vides tinyint ,  
@ContournementDesGDA tinyint ,  
@Rinces tinyint ,  
@NettoyesLaVapeur tinyint ,  
@Purges tinyint ,  
@Ventiles tinyint ,  
@Aeres tinyint , 
@Energies  tinyint ,
@Procedure tinyint ,  
@ProcedureValue varchar(100) ,  
@AutresCondition tinyint ,  
@AutresConditionValue varchar(100) ,  
@InterrupteursEtVannesCadenasses tinyint ,  
@InterrupteursEtVannesCadenassesValue varchar(100) ,  
@VerrouillagesParTravailleurs tinyint ,  
@SourcesDesenergisees tinyint ,  
@DepartsLocauxTestes tinyint ,  
@ConduitesDesaccouplees tinyint ,  
@ObturateursInstallees tinyint ,  
@Etiquette tinyint ,  
@EtiquetteValue varchar(100) ,  
@PVCISuncorEffectuee tinyint ,  
@PVCIEntExtEffectuee tinyint ,  
@Amiante tinyint ,  
@AcideSulfurique tinyint ,  
@Azote tinyint ,  
@Caustique tinyint ,  
@DioxydeDeSoufre tinyint ,  
@SBS tinyint ,  
@Soufre tinyint ,  
@EquipementsNonRinces tinyint ,  
@Hydrocarbures tinyint ,  
@HydrogeneSulfure tinyint ,  
@MonoxydeCarbone tinyint ,  
@Reflux tinyint ,  
@ProduitsVolatilsUtilises tinyint ,  
@Bacteries tinyint ,  
@Appareil tinyint ,  
@AppareilValue varchar(100) ,  
@InterferencesEntreTravaux tinyint ,  
@PiecesEnRotation tinyint ,  
@IncendieExplosion tinyint ,  
@EffondrementEnsevelissement tinyint,
@ContrainteThermique tinyint ,  
@Radiations tinyint ,  
@Silice tinyint ,  
@Vanadium tinyint ,  
@AsphyxieIntoxication tinyint ,  
@AutresRisques tinyint ,  
@AutresRisquesValue varchar(100) ,  
@ElectriciteVolt tinyint ,  
@ElectriciteVoltValue varchar(100) ,  
@OutillageElectrique tinyint ,  
@TravailEnHauteur6EtPlus tinyint ,  
@VapeurCondensat tinyint, 
@Electrisation tinyint ,  
@LunettesMonocoques tinyint ,  
@Visiere tinyint ,  
@ProtectionAuditive tinyint ,  
@CagouleIgnifuge tinyint ,  
@Harnais2LiensDeRetenue tinyint ,  
@AppareilEquipementDePrevention tinyint,
@AppareilEquipementDePreventionValue varchar(100),
@Gants tinyint ,  
@GantsValue varchar(100) ,  
@MasqueACartouches tinyint ,  
@MasqueACartouchesValue varchar(100) , 
@MasqueSoudeur tinyint, 
@EPIAntiArcCAT tinyint ,  
@EPIAntiArcCATValue varchar(100) ,  
@EPIAntiChoc tinyint ,  
@HabitProtecteur tinyint ,  
@HabitProtecteurValue varchar(100) ,  
@EcranDeflecteur tinyint ,  
@MALTDesEquipements tinyint ,  
@Rallonges tinyint ,  
@ApprobationPourEquipDeLevage tinyint ,  
@BarricadeRigide tinyint ,  
@AutresE tinyint ,  
@AutresEValue varchar(100) ,  
@AlarmeDCS tinyint ,  
@AlarmeDCSValue varchar(100) ,  
@EchelleSecurisee tinyint ,  
@EchafaudageApprouve tinyint ,  
@OutilDeLaiton tinyint ,  
@OutilDeLaitonManel tinyint ,  
@outilDeLaitonManelValue varchar(100) ,  
@PerimetreSecurite tinyint , 
@PerimetreSecuriteValue varchar(100),
@Radio tinyint ,  
@AutresEquipementDePrevention tinyint,
@AutresEquipementDePreventionValue varchar(100),
@Signaleur tinyint ,  
@InstructionsSpeciales varchar(500) ,  
@SignatureOperateurSurLeTerrain tinyint ,  
@DetectionDesGazs tinyint ,  
@SignatureContremaitre tinyint ,  
@SignatureAutorise tinyint ,  
@NettoyageTransfertHorsSite tinyint ,  
@Soudage tinyint ,  
@Traitement tinyint ,  
@Cuissons tinyint ,  
@Perçage tinyint ,  
@Chaufferette tinyint ,  
@Meulage tinyint ,  
@Nettoyage tinyint ,  
@AutresTravaux tinyint ,  
@AutresTravauxValue varchar(100),  
@TravauxDansZone tinyint ,  
@Combustibles tinyint ,  
@Ecran tinyint ,  
@Boyau tinyint ,  
@BoyauDe tinyint ,  
@Couverture tinyint ,  
@Extincteur tinyint ,  
@Bouche tinyint ,  
@RadioS tinyint ,  
@Surveillant tinyint ,  
@UtilisationMoteur tinyint ,  
@NettoyageAU tinyint ,  
@UtilisationElectronics tinyint ,  
@Radiographie tinyint ,  
@UtilisationOutlis tinyint ,  
@UtilisationEquipments tinyint ,  
@Demolition tinyint ,  
@AutresInstruction tinyint ,  
@AutresInstructionValue varchar(100) ,
@FeSValue tinyint   
     
)      
AS      
      
IF(@TemplateNumber = 0)      
 BEGIN      
  SELECT @TemplateNumber = ISNULL(MAX(TemplateNumber),0) +1 FROM WorkPermitMudsTemplate;         
 END      
       
INSERT INTO [WorkPermitMudsTemplate]      
(       
    [Name],       
 [TypeId],      
 [TemplateNumber],      
 [Active],      
 [Deleted],   
      
[RemplirLeFormulaireDeCondition] ,  
[RemplirLeFormulaireDeConditionValue] ,  
[AnalyseCritiqueDeLaTache] ,  
[Depressurises] ,  
[Vides] ,  
[ContournementDesGDA] ,  
[Rinces] ,  
[NettoyesLaVapeur] ,  
[Purges] ,  
[Ventiles] ,  
[Aeres] ,  
[Energies] ,
[Procedure] ,  
[ProcedureValue] ,  
[AutresCondition] ,  
[AutresConditionValue] ,  
[InterrupteursEtVannesCadenasses] ,  
[InterrupteursEtVannesCadenassesValue] ,  
[VerrouillagesParTravailleurs] ,  
[SourcesDesenergisees] ,  
[DepartsLocauxTestes] ,  
[ConduitesDesaccouplees] ,  
[ObturateursInstallees] ,  
[Etiquette] ,  
[EtiquetteValue] ,  
[PVCISuncorEffectuee] ,  
[PVCIEntExtEffectuee] ,  
[Amiante] ,  
[AcideSulfurique] ,  
[Azote] ,  
[Caustique] ,  
[DioxydeDeSoufre] ,  
[SBS] ,  
[Soufre] ,  
[EquipementsNonRinces] ,  
[Hydrocarbures] ,  
[HydrogeneSulfure] ,  
[MonoxydeCarbone] ,  
[Reflux] ,  
[ProduitsVolatilsUtilises] ,  
[Bacteries] ,  
[Appareil] ,  
[AppareilValue] ,  
[InterferencesEntreTravaux] ,  
[PiecesEnRotation] ,  
[IncendieExplosion] , 
[EffondrementEnsevelissement], 
[ContrainteThermique] ,  
[Radiations] ,  
[Silice] ,  
[Vanadium] ,  
[AsphyxieIntoxication] ,  
[AutresRisques] ,  
[AutresRisquesValue] ,  
[ElectriciteVolt] ,  
[ElectriciteVoltValue] ,  
[OutillageElectrique] ,  
[TravailEnHauteur6EtPlus] ,  
[VapeurCondensat] , 
[Electrisation] ,  
[LunettesMonocoques] ,  
[Visiere] ,  
[ProtectionAuditive] ,  
[CagouleIgnifuge] ,  
[Harnais2LiensDeRetenue] ,
[AppareilEquipementDePrevention],
[AppareilEquipementDePreventionValue],  
[Gants] ,  
[GantsValue] ,  
[MasqueACartouches] ,  
[MasqueACartouchesValue] ,  
[MasqueSoudeur],
[EPIAntiArcCAT] ,  
[EPIAntiArcCATValue] ,  
[EPIAntiChoc] ,  
[HabitProtecteur] ,  
[HabitProtecteurValue] ,  
[EcranDeflecteur] ,  
[MALTDesEquipements] ,  
[Rallonges] ,  
[ApprobationPourEquipDeLevage] ,  
[BarricadeRigide] ,  
[AutresE] ,  
[AutresEValue] ,  
[AlarmeDCS] ,  
[AlarmeDCSValue] ,  
[EchelleSecurisee] ,  
[EchafaudageApprouve] ,  
[OutilDeLaiton] ,  
[OutilDeLaitonManel] ,  
[outilDeLaitonManelValue] ,  
[PerimetreSecurite] , 
[PerimetreSecuriteValue], 
[Radio] ,  
[AutresEquipementDePrevention],
[AutresEquipementDePreventionValue],
[Signaleur] ,  
[InstructionsSpeciales] ,  
[SignatureOperateurSurLeTerrain] ,  
[DetectionDesGazs] ,  
[SignatureContremaitre] ,  
[SignatureAutorise] ,  
[NettoyageTransfertHorsSite] ,  
[Soudage] ,  
[Traitement] ,  
[Cuissons] ,  
[Perçage] ,  
[Chaufferette] ,  
[Meulage] ,  
[Nettoyage] ,  
[AutresTravaux] ,  
[AutresTravauxValue] ,  
[TravauxDansZone] ,  
[Combustibles] ,  
[Ecran] ,  
[Boyau] ,  
[BoyauDe] ,  
[Couverture] ,  
[Extincteur] ,  
[Bouche] ,  
[RadioS] ,  
[Surveillant] ,  
[UtilisationMoteur] ,  
[NettoyageAU] ,  
[UtilisationElectronics] ,  
[Radiographie] ,  
[UtilisationOutlis] ,  
[UtilisationEquipments] ,  
[Demolition] ,  
[AutresInstruction] ,  
[AutresInstructionValue]  ,
FeSValue 
   
)      
VALUES      
(      
    @Name,      
 @TypeId,      
 @TemplateNumber,      
 @Active,      
 @Deleted,      
   
@RemplirLeFormulaireDeCondition ,  
@RemplirLeFormulaireDeConditionValue ,  
@AnalyseCritiqueDeLaTache ,  
@Depressurises ,  
@Vides ,  
@ContournementDesGDA ,  
@Rinces ,  
@NettoyesLaVapeur ,   
@Purges ,  
@Ventiles ,  
@Aeres , 
@Energies ,
@Procedure ,  
@ProcedureValue ,  
@AutresCondition ,  
@AutresConditionValue ,  
@InterrupteursEtVannesCadenasses ,  
@InterrupteursEtVannesCadenassesValue ,  
@VerrouillagesParTravailleurs ,  
@SourcesDesenergisees ,  
@DepartsLocauxTestes ,  
@ConduitesDesaccouplees ,  
@ObturateursInstallees ,  
@Etiquette ,  
@EtiquetteValue ,  
@PVCISuncorEffectuee ,  
@PVCIEntExtEffectuee ,  
@Amiante ,  
@AcideSulfurique ,  
@Azote ,  
@Caustique ,  
@DioxydeDeSoufre ,  
@SBS ,  
@Soufre ,  
@EquipementsNonRinces ,  
@Hydrocarbures ,  
@HydrogeneSulfure ,  
@MonoxydeCarbone ,  
@Reflux ,  
@ProduitsVolatilsUtilises ,  
@Bacteries ,  
@Appareil ,  
@AppareilValue ,  
@InterferencesEntreTravaux ,  
@PiecesEnRotation ,  
@IncendieExplosion ,  
@EffondrementEnsevelissement,
@ContrainteThermique ,  
@Radiations ,  
@Silice ,  
@Vanadium ,  
@AsphyxieIntoxication ,  
@AutresRisques ,  
@AutresRisquesValue ,  
@ElectriciteVolt ,  
@ElectriciteVoltValue ,  
@OutillageElectrique ,  
@TravailEnHauteur6EtPlus , 
 @VapeurCondensat,
@Electrisation ,  
@LunettesMonocoques ,  
@Visiere ,  
@ProtectionAuditive ,  
@CagouleIgnifuge ,  
@Harnais2LiensDeRetenue ,
@AppareilEquipementDePrevention,
@AppareilEquipementDePreventionValue,  
@Gants ,  
@GantsValue ,  
@MasqueACartouches ,  
@MasqueACartouchesValue , 
@MasqueSoudeur,
@EPIAntiArcCAT ,  
@EPIAntiArcCATValue ,  
@EPIAntiChoc ,  
@HabitProtecteur ,  
@HabitProtecteurValue ,  
@EcranDeflecteur ,  
@MALTDesEquipements ,  
@Rallonges ,  
@ApprobationPourEquipDeLevage ,  
@BarricadeRigide ,  
@AutresE ,  
@AutresEValue ,  
@AlarmeDCS ,  
@AlarmeDCSValue ,  
@EchelleSecurisee ,  
@EchafaudageApprouve ,  
@OutilDeLaiton ,  
@OutilDeLaitonManel ,  
@outilDeLaitonManelValue ,  
@PerimetreSecurite , 
@PerimetreSecuriteValue,
@Radio ,  
@AutresEquipementDePrevention,
@AutresEquipementDePreventionValue,
@Signaleur ,  
@InstructionsSpeciales ,  
@SignatureOperateurSurLeTerrain ,  
@DetectionDesGazs ,  
@SignatureContremaitre ,  
@SignatureAutorise ,  
@NettoyageTransfertHorsSite ,  
@Soudage ,  
@Traitement ,  
@Cuissons ,  
@Perçage ,  
@Chaufferette ,  
@Meulage ,  
@Nettoyage ,  
@AutresTravaux ,  
@AutresTravauxValue ,  
@TravauxDansZone ,  
@Combustibles ,  
@Ecran ,  
@Boyau ,  
@BoyauDe ,  
@Couverture ,  
@Extincteur ,  
@Bouche ,  
@RadioS ,  
@Surveillant ,  
@UtilisationMoteur ,  
@NettoyageAU ,  
@UtilisationElectronics ,  
@Radiographie ,  
@UtilisationOutlis ,  
@UtilisationEquipments ,  
@Demolition ,  
@AutresInstruction ,  
@AutresInstructionValue   ,
@FeSValue
  
)      
      
SET @Id = SCOPE_IDENTITY()
GO


GRANT EXEC ON InsertWorkPermitMudsTemplate TO PUBLIC
GO
