
IF EXISTS (SELECT * FROM sysobjects WHERE type = 'P' AND name = 'InsertDocumentLink')
	BEGIN
		DROP Procedure [dbo].InsertDocumentLink
	END
GO

CREATE Procedure [dbo].[InsertDocumentLink]      
 (      
  @Id bigint Output,      
  @Title varchar(100),      
  @Link varchar(MAX),      
  @LogId bigint = NULL,      
  @LogDefinitionId bigint = NULL,      
  @TargetDefinitionId bigint = NULL,        
  @ActionItemDefinitionId bigint = NULL,      
  @WorkPermitId bigint = NULL,      
  @ActionItemId bigint = NULL,      
  @TargetAlertId bigint = NULL,      
  @SummaryLogId bigint = NULL,      
  @WorkPermitEdmontonId bigint = NULL,      
  @PermitRequestEdmontonId bigint = NULL,      
  @WorkPermitMontrealId bigint = NULL,      
  @PermitRequestMontrealId bigint = NULL,      
  @WorkPermitLubesId bigint = NULL,      
  @PermitRequestLubesId bigint = NULL,      
  @FormGN24Id bigint = NULL,      
  @FormGN6Id bigint = NULL,      
  @FormGN75AId bigint = NULL,      
  @FormGN75BId bigint = NULL,      
  @DirectiveId bigint = NULL,      
  @FormGN1Id bigint = NULL,      
  @FormGN7Id bigint = NULL,      
  @FormOP14Id bigint = NULL,      
  @FormGN59Id bigint = NULL,      
  @OvertimeFormId bigint = NULL,      
  @FormLubesCsdId bigint = NULL,      
  @FormMontrealCsdId bigint = NULL,      
  @FormLubesAlarmDisableId bigint = NULL,      
  @FormOilsandsPermitAssessmentId bigint = NULL,      
  @FormDocumentSuggestionId bigint = NULL,      
  @FormProcedureDeviationId bigint = NULL,      
  @FormGenericTemplateId bigint = NULL,    
  @FormMudsTemporaryInstallationId bigint = NULL ,
  @FormWorkPermitMudsId bigint = NULL ,
  @PermitRequestMudsId bigint = NULL,
  @FormGN75BSarniaId bigint= NULL      
 )      
      
AS       
      
INSERT INTO [DocumentLink]      
      ([Title],      
      [Link],      
      [TargetDefinitionId],      
      [ActionItemDefinitionId],      
      [WorkPermitId],      
      [LogId],      
      [LogDefinitionId],      
      [ActionItemId],      
      [TargetAlertId],      
      [SummaryLogId],      
      [WorkPermitEdmontonId],      
      [PermitRequestEdmontonId],      
      [WorkPermitMontrealId],      
      [PermitRequestMontrealId],      
      [WorkPermitLubesId],      
      [PermitRequestLubesId],      
      [FormGN24Id],      
      [FormGN6Id],      
      [FormGN75AId],      
      [FormGN75BId],      
      [DirectiveId],      
      [FormGN1Id],      
      [FormGN7Id],      
      [FormOP14Id],      
      [FormGN59Id],      
      [OvertimeFormId],      
      [FormLubesCsdId],      
      [FormMontrealCsdId],      
      [FormLubesAlarmDisableId],      
      [FormOilsandsPermitAssessmentId],      
      [FormDocumentSuggestionId],      
      [FormProcedureDeviationId],      
      [FormGenericTemplateId],      
      [FormMudsTemporaryInstallationId],  
      [FormWorkPermitMudsId],  
      [PermitRequestMudsId],
            [Deleted],
			[FormGN75BSarniaId])      
VALUES           
       (      
       @Title,      
       @Link,      
       @TargetDefinitionId,      
       @ActionItemDefinitionId,      
       @WorkPermitId,      
       @LogId,      
       @LogDefinitionId,      
       @ActionItemId,      
       @TargetAlertId,      
       @SummaryLogId,      
       @WorkPermitEdmontonId,      
       @PermitRequestEdmontonId,      
       @WorkPermitMontrealId,      
       @PermitRequestMontrealId,      
       @WorkPermitLubesId,      
       @PermitRequestLubesId,      
       @FormGN24Id,      
       @FormGN6Id,      
       @FormGN75AId,      
       @FormGN75BId,      
       @DirectiveId,      
       @FormGN1Id,      
       @FormGN7Id,      
       @FormOP14Id,      
       @FormGN59Id,      
       @OvertimeFormId,      
       @FormLubesCsdId,      
       @FormMontrealCsdId,      
       @FormLubesAlarmDisableId,      
      @FormOilsandsPermitAssessmentId,      
      @FormDocumentSuggestionId,      
      @FormProcedureDeviationId,      
      @FormGenericTemplateId,     
      @FormMudsTemporaryInstallationId, 
      @FormWorkPermitMudsId,   
      @PermitRequestMudsId ,         
       0,
	   @FormGN75BSarniaId)      
             
SET @Id= SCOPE_IDENTITY()     
  
  
GRANT EXEC ON InsertDocumentLink TO PUBLIC
GO
