<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="RemoteServicesURL" value="http://D126741:8090" />
    <add key="ServerTimeZone" value="Mountain Standard Time" />
    <add key="clientServerBindingType" value="3"/>

    <add key="OLTSAPWebServiceHost" value="http://wmdev001:5651"/>
    <add key="OLTSAPWebServiceUser" value="SuncorOLT"/>
    <add key="OLTSAPWebServicePassword" value="30dogday"/>
    <add key="OLTSAPWebServiceLogRequestURL" value="/soap/webservice/OltSapLogRequest"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
        <trace enabled="true"/>
    </system.web>
  <log4net>
    <appender name="FunctionalLocationAdapterFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\code\windows\csc\OLT\trunk\Logs\OLT-SAPHandler-Floc.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="90" />
      <datePattern value="yyyyMMdd" />
       <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>

    <appender name="NotificationAdapterFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\code\windows\csc\OLT\trunk\Logs\OLT-SAPHandler-Notification.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="90" />
      <datePattern value="yyyyMMdd" />
	  <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>

    <appender name="WorkOrderAdapterFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\code\windows\csc\OLT\trunk\Logs\OLT-SAPHandler-WorkOrder.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="90" />
      <datePattern value="yyyyMMdd" />
	  <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\code\windows\csc\OLT\trunk\Logs\OLT-SAPHandler.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="90" />
      <datePattern value="yyyyMMdd" />
       <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
      </layout>
      
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Com.Suncor.Olt.Integration.Handlers.Adapters.FlocAdapter"/>
        <AcceptOnMatch value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Floc"/>
        <AcceptOnMatch value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Com.Suncor.Olt.Integration.Handlers.Validators.FLOCValidator"/>
        <AcceptOnMatch value="false"/>
      </filter>
      
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Com.Suncor.Olt.Integration.Handlers.Adapters.NotificationAdapter"/>
        <AcceptOnMatch value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Notification"/>
        <AcceptOnMatch value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Com.Suncor.Olt.Integration.Handlers.Validators.NotificationValidator"/>
        <AcceptOnMatch value="false"/>
      </filter>
      
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Com.Suncor.Olt.Integration.Handlers.Adapters.WorkOrderAdapter"/>
        <AcceptOnMatch value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="WorkOrder"/>
        <AcceptOnMatch value="false"/>
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <LoggerToMatch value="Com.Suncor.Olt.Integration.Handlers.Validators.WorkOrderValidator"/>
        <AcceptOnMatch value="false"/>
      </filter>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
	<logger name="Com.Suncor.Olt.Integration.Handlers.NotificationMessageHandler">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
	<logger name="Com.Suncor.Olt.Integration.Handlers.WorkOrderMessageHandler">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />	  
    </logger>
    <logger name="Com.Suncor.Olt.Integration.Handlers.Adapters.FlocAdapter">
      <level value="ALL" />
      <appender-ref ref="FunctionalLocationAdapterFileAppender" />
    </logger>
    <logger name="Floc">
      <level value="ALL" />
      <appender-ref ref="FunctionalLocationAdapterFileAppender" />
    </logger>
    <logger name="Com.Suncor.Olt.Integration.Handlers.Validators.FLOCValidator">
      <level value="ALL" />
      <appender-ref ref="FunctionalLocationAdapterFileAppender" />
    </logger>

    <logger name="Com.Suncor.Olt.Integration.Handlers.Adapters.NotificationAdapter">
      <level value="ALL" />
      <appender-ref ref="NotificationAdapterFileAppender" />
    </logger>
    <logger name="Notification">
      <level value="ALL" />
      <appender-ref ref="NotificationAdapterFileAppender" />
    </logger>
    <logger name="Com.Suncor.Olt.Integration.Handlers.Validators.NotificationValidator">
      <level value="ALL" />
      <appender-ref ref="NotificationAdapterFileAppender" />
    </logger>

    <logger name="Com.Suncor.Olt.Integration.Handlers.Adapters.WorkOrderAdapter">
      <level value="ALL" />
      <appender-ref ref="WorkOrderAdapterFileAppender" />
    </logger>
    <logger name="WorkOrder">
      <level value="ALL" />
      <appender-ref ref="WorkOrderAdapterFileAppender" />
    </logger>
    <logger name="Com.Suncor.Olt.Integration.Handlers.Validators.WorkOrderValidator">
      <level value="ALL" />
      <appender-ref ref="WorkOrderAdapterFileAppender" />
    </logger>
  </log4net>
 
</configuration>