<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Com.Suncor.Olt.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Warning"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "WcfTraces.svclog" />
        </listeners>
      </source>
    </sources>
	<trace autoflush="true" />
  </system.diagnostics>
  

  <appSettings>
    <add key="ProfilerEnabled" value="false" />
    <add key="BuildNumber" value="5.11.65533" />
    <add key="RemoteServicesURL" value="http://D126741:8090"/>
    <add key="FileUpdateSourceDirectory" value="" />
    <add key="VersionCompareDll" value="Com.Suncor.Olt.Client.dll" />
  </appSettings>
</configuration>
